.calendar{
    &__table{
        .table{
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid $table_border;
            &__row{
                display: flex;
                flex-direction: row;
            }
            &__cell{
                border: 1px solid $table_border;
                flex: 1;
                height: 13vh;
                padding: 15px;
                cursor: pointer;
                transition: all .3s;
                &.active{
                    background-color: darken($light_gray, 5%);
                }
                &:hover:not(.table__cell_empty){
                    background-color: $light_gray;
                }
                &_empty{
                    background-color: lighten($gray, 5%);
                    cursor: default;
                }
            }
        }
    }
    &__controls{
        margin-bottom: 20px;
        *{
            display: inline-block;
            margin-right: 10px;
        }
        span{
            min-width: 130px;
            text-align: center;
        }
    }
}