// Base

$respons-xs: 450px;
$respons-md: 768px;
$respons-lg: 960px;
$respons-xl: 1200px;

//Colors
$gray: #ccc;
$light-gray: #f5f5f5;
$blue: #035999;

//brand
$default: rgba(0,0,0,0);
$primary: $blue;

// Header
$header-bg: $light-gray;

//Calendar
$table_border: $gray;





