.calendar{
    &__table{
        .table{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px solid $table_border;
            &__row{
                display: flex;
                flex-direction: row;
            }
            &__cell{
                border: 1px solid $table_border;
                flex: 1;
                height: 13vh;
                padding: 15px;
                cursor: pointer;
                transition: all .3s;
                position: relative;
                overflow: hidden;
                p{
                    margin-bottom: 10px;
                }
                >span{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    &.select{
                        border: 2px solid $primary;
                    }
                }
                &.active{
                    background-color: darken($light_gray, 5%);
                    .date{
                        font-weight: bold;
                    }
                }
                &:hover:not(.table__cell_empty){
                    background-color: $light_gray;
                }
                &.event{
                    background-color: lighten($blue, 50%);
                    &:hover{
                        background-color: lighten($blue, 60%);
                    }
                }
                &_empty{
                    background-color: lighten($gray, 5%);
                    cursor: default;
                }
            }
        }
    }
    &__controls{
        margin-bottom: 20px;
        *{
            display: inline-block;
            margin-right: 10px;
        }
        span{
            min-width: 130px;
            text-align: center;
        }
    }
}