.form{
    &__group{
        width: 100%;
        margin: 20px 0;
    }
    &__control{
        padding: 5px;
        display: block;
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        outline: none;
        border: 1px solid $gray;
    }
}