.popup{
    position: absolute;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    background-color: #fff;
    padding: 15px;
    z-index: 10;
    .arrow{
        position: absolute;
        &.left{
            border: 10px solid transparent;
            border-right: 10px solid #fff;
            left: -20px;
        }
        &.right{
            border: 10px solid transparent;
            border-left: 10px solid #fff;
            right: -20px;
        }
    }
}